body{
  background-color: white;
}
#nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
}
.right{
  display: inline;
}
.left{
  display: inline;
}
.push{
margin-left: auto;
}
li a {
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color:whitesmoke;
}
#logo {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10%;
}
#search {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 1%;
}
<<<<<<< HEAD
#searchBut{
display: block;
margin-left: auto;
margin-right: auto;
=======
#search, #nice{
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 2px;
border: none;
background-color: #f2f2f2;
min-width: 54px;
padding: 0 16px;
color: #757575;
height: 36px;
cursor: default;
font-family: arial, sans-serif;
font-size: small;
font-weight: bold;
position: relative;
>>>>>>> a25757f838826eb00591b7b02277c56cfae34c52
}
#navbot{
display: flex;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:whitesmoke;
position: fixed;
bottom: 0;
width: 100%;
}